/*******************************************************************************
 *                                                                             *
 *ChildCareTech                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-background-color: aliceblue;
    -fx-background-radius: 0%;
    -fx-text-fill: white;
    -fx-border: none;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: lightblue;
    -fx-border: none;
    -fx-border-color: transparent;
    -fx-effect: none;
}

.button:focused, .button:pressed, .button:selected{
    -fx-border: none;
    -fx-border-color: transparent;
    -fx-effect: none;
}