/*******************************************************************************
 *                                                                             *
 *ChildCareTech                                                                      *
 *                                                                             *
 ******************************************************************************/


.border-pane {
    -fx-background-color : white;
}

.vertical-menu-button {
    -fx-background-color: aliceblue;
    -fx-text-fill: white;
    -fx-background-radius: 0%;
    -fx-border: none;
}

.vertial-menu-button:hover {
    -fx-background-color: lightblue;
}