.login {
    -fx-background-image: url('images/login.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 400 400;
    -fx-background-position: center center;
}

.home {
    -fx-background-image: url('images/home.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 400 400;
    -fx-background-position: center center;
}

.anagrafica {
    -fx-background-image: url('images/anagraphic.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 400 400;
    -fx-background-position: center center;
}

.button {
    -fx-background-radius: 10px;
}